:root {
  --background-color: #2b3137;

  --text-color: rgba(255, 255, 255, 1);
  --border-color: rgba(255, 255, 255, 1);

  --avatar-background-color: rgba(86, 91, 178, 0.498);

  --white: #fff;
  --dark-gray: #24292d;
  --light-gray: #2b3137;
  --green: #2fbb4f;
  --blue: #0d74e7;

  --default-padding: 24px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

section {
  position: relative;
  width: 100%;
}

.home-header .header-avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid var(--border-color);

  background: #2980b9;
  background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
}

.home-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 60px;
  padding-top: 120px;
  min-height: 60vh;
}

.about-section {
  min-height: 60vh;
  background-color: var(--white);
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about-content {
  max-width: 800px;
  align-self: center;
}

.about-image {
  height: 200px;
  width: 200px;
}

.separator-1 {
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.separator-1 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 107px;
}

.separator-1 .shape-fill {
  fill: #ffffff;
}

.separator-2 {
  position: absolute;
  bottom: -106px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.separator-2 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 107px;
}

.separator-2 .shape-fill {
  fill: #ffffff;
}

.resume-section {
  padding-top: 60px;
}
.resume-section > h2 {
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .home-header {
    padding: 0 100px;
  }

  .about-section {
    padding: 0 100px;
  }

  .resume-section {
    padding-top: 100px;
  }
}

.contact-section {
  background-color: var(--white);
  color: var(--dark-gray);
  padding: 100px 90px;
  text-align: center;
}

.contact-section a {
  color: var(--dark-gray);
  text-decoration: none;
}
.contact-section i {
  font-size: 32px;
  margin-right: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--dark-gray);
  border-radius: 6px;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
}
