.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  color: var(--dark-gray);
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.text-box {
  padding: 20px;
  background-color: var(--white);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left {
  left: 0;
}
.right {
  left: 50%;
}

.container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
  background-color: var(--white);
  padding: 5px;
}

.right img {
  left: -20px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background: var(--white);
  left: 50%;
  top: 0;
  margin-left: -3px;
  z-index: -1;
}

.timeline-in-view::after {
  animation: timeline-line 6s linear forwards;
}

.timeline > h3 {
  text-align: center;
  color: var(--white);
  background-color: var(--light-gray);
  padding: 20px;
  top: -4px;
}

@keyframes timeline-line {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.left::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-right: 16px solid var(--white);
  border-bottom: 16px solid transparent;
  right: 0;
  transform: translateX(-220%) rotate(180deg);
  top: 52px;
  margin-top: -16px;
}

.right::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 16px solid var(--white);
  border-bottom: 16px solid transparent;
  left: 0;
  transform: translateX(220%) rotate(180deg);
  top: 52px;
  margin-top: -16px;
}

@media screen and (max-width: 768px) {
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .container {
    width: 100%;
    padding-right: 25px;
    padding-left: 80px;
  }

  .right {
    left: 0;
  }

  .right img,
  .left img {
    left: 10px;
  }

  .left::before,
  .right::before {
    border-top: 16px solid transparent;
    border-left: 16px solid var(--white);
    border-bottom: 16px solid transparent;
    border-right: 0;
    left: 30px;
  }
  .left::before {
    left: 65px;
    transform: rotate(180deg);
  }
}
